NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
ADMIN_EMAILS=itsabhishekdas0007@gmail.com,kalitabitupan225@gmail.com,koilashpratimbora1@gmail.com,rioadwani47@gmail.com,infernowasthere@gmail.com
